@import "tailwindcss";
@import "@tabler/icons-webfont/dist/tabler-icons.min.css";

@theme {
  --color-app-bg: var(--bg-color);
  --color-app-text: var(--text-color);
  --color-accent: #3b82f6;
  --color-muted: var(--text-color-muted);
}

:root {
  --bg-color: #ffffff;
  --text-color: #111827;
  --text-color-alt: #333;
  --text-color-muted: #4b5563;
}

.dark {
  --bg-color: #1b1b1d;
  --text-color: #f9fafb;
  --text-color-alt: #ccc;
  --text-color-muted: #9ca3af;
}

.header-logo {
  filter: invert(100%)
}

.dark .header-logo {
  filter: invert(0);
}

body {
  background-color: var(--color-app-bg);
  color: var(--color-app-text);
  transition: background-color 0.3s, color 0.3s;
}